{# TODO:add postgress icon #}
  <dl class="d-flex flex-row flex-wrap justify-content-around">
    <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/javascript.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Javascript</dd>
    </div>

     <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/typescript.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Typescript</dd>
    </div>

     <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/python.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Python</dd>
    </div>

     <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/flask.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Flask</dd>
    </div>

     <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/postgresql.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">PostgreSQL</dd>
    </div>

     <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/nodedotjs.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Node</dd>
    </div>
     <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/jquery.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">jQuery</dd>
    </div>

       <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/react.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">React</dd>
    </div>
    </div>

       <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/cypress.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Cypress</dd>
    </div>

    <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/vuedotjs.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Vue</dd>
    </div>
    <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/electron.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Electron</dd>
    </div>

    <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/github.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">GitHub</dd>
    </div>



    <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/bootstrap.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Bootstrap</dd>
    </div>


    <div class="px-2 d-flex flex-column align-items-center">
      <dt class="mb-1">

        {% include "../assets/icons/tailwindcss.svg" %}
      </dt>
      <dd class="fw-lighter icon-label-size">Tailwindcss</dd>
    </div>




  </dl>


