{# Warbler #}
<div
  class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6"
>
  <div class="col-lg-6">
    <a href="https://twat-ter.herokuapp.com" target="_blank" class="d-inline-block">
      <figure class="img-overlay mb-0">
        <img
          src="assets/img/warbler.png"
          alt="Architecture landing page"
          class="img-thumbnail"
          width="800"
          height="550"
        />
        <div class="img-hover">
          <div class="img-text">Go To Site</div>
        </div>
      </figure>
    </a>
  </div>
  <div class="col-lg-5">
    <h3 class="fw-normal text-primary">Warbler</h3>
    <p class="fw-light text-light">
      A Twitter clone. Created with: Python, Flask, Jinja, SQL Alchemy, Postgress,
      Bootstrap
    </p>

    <a
      href="https://github.com/marshall-buck/warbler"
      target="_blank"
      class="btn btn-sm btn-primary icon-link"
      >{% include "../assets/icons/github.svg" %}
      <span class="ps-1  icon-label-size">Repo</span>
    </a>
  </div>
</div>
{# Share BnB #}
<div
  class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6"
>
  <div class="col-lg-6 order-lg-2">
    <a href="https://sharebnb-fe.onrender.com/" class="d-inline-block"
    target="_blank">
      <figure class="img-overlay mb-0">
        <img
          src="assets/img/sharebnb.png"
          alt="Interior Design landing page"
          class="img-thumbnail"
          width="800"
          height="550"
        />
        <div class="img-hover">
          <p class="img-text">View Project</p>
        </div>
      </figure>
    </a>
  </div>
  <div class="col-lg-5 order-lg-1">
    <h3 class="fw-normal text-primary">ShareBnB</h3>
    <p class="fw-light text-light">
      An AirBnb clone. Created with: React, Bootstrap, Node, PostgreSQL
    </p>
    <div class="d-flex flex-row justify-content-around">
      <div class="px-2">
        <a
          href="https://github.com/marshall-buck/sharebnb-frontend"
          target="_blank"
          class="btn btn-sm btn-primary icon-link"
          >{% include "../assets/icons/github.svg" %}
          <span class="icon-label-size">Front end</span>
        </a>
      </div>
      <div class="px-2">
        <a
          href="https://github.com/marshall-buck/sharebnb-backend"
          target="_blank"
          class="btn btn-sm btn-primary icon-link"
          >{% include "../assets/icons/github.svg" %}
          <span class="icon-label-size">Back end</span>
        </a>
      </div>
    </div>
  </div>
</div>

{# Jobly #}
<div
  class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6"
>
  <div class="col-lg-6">
    <a href="https://jobly-fe.onrender.com/" target="_blank" class="d-inline-block">
      <figure class="img-overlay mb-0">
        <img
          src="assets/img/jobly.png"
          alt="Architecture landing page"
          class="img-thumbnail"
          width="800"
          height="550"
        />
        <div class="img-hover">
          <div class="img-text">Go To Site</div>
        </div>
      </figure>
    </a>
  </div>
  <div class="col-lg-5">
    <h3 class="fw-normal text-primary">Jobly</h3>
    <p class="fw-light text-light">
     A job search front end.  Created with: React, Typescript, React testing library, Tailwindcss
    </p>


    <a
      href="https://github.com/marshall-buck/jobly-FE"
      target="_blank"
      class="btn btn-sm btn-primary icon-link"
      >{% include "../assets/icons/github.svg" %}
      <span class="ps-1  icon-label-size">Repo</span>
    </a>
  </div>
</div>

{# Oilnet #}
<div
  class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6"
>
  <div class="col-lg-6 order-lg-2">
    <a href="https://www.loom.com/share/1d69552ed5604583a8eac4887c3b1332" target="_blank" class="d-inline-block">
      <figure class="img-overlay mb-0">
        <img
          src="https://cdn.loom.com/sessions/thumbnails/1d69552ed5604583a8eac4887c3b1332-with-play.gif"
          alt="Interior Design landing page"
          class="img-thumbnail"
          width="800"
          height="550"
        />
        <div class="img-hover">
          <p class="img-text">View Video</p>
        </div>
      </figure>
    </a>
  </div>
  <div class="col-lg-5 order-lg-1">
    <h3 class="fw-normal text-primary">Oilnet App</h3>
    <p class="fw-light text-light">
      An App to measure DICOM images. Created with: Vue 3, Electron, CornerstoneTools
    </p>
    <div class="d-flex flex-row justify-content-evenly">
      <div class="px-2">
        <a
          href="https://github.com/marshall-buck/oilnet-app"
          target="_blank"
          class="btn btn-sm btn-primary icon-link"
          >{% include "../assets/icons/github.svg" %}
          <span class="ps-1  icon-label-size">Repo</span>
        </a>
      </div>

    </div>
  </div>
</div>


