
 {# Warbler #}
<div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
    <div class="col-lg-6">
      <a href="https://twat-ter.herokuapp.com" class="d-inline-block">
        <figure class="img-overlay mb-0">
          <img
            src="assets/img/warbler.jpg"
            alt="Architecture landing page"
            class="img-thumbnail"
            width="800"
            height="550"
          />
          <div class="img-hover">
            <div class="img-text">Go To Site</div>
          </div>
        </figure>
      </a>
    </div>
    <div class="col-lg-5">
      <h2 class="fw-normal">Warbler</h2>
      <p class="fw-light text-light">
        A Twitter clone. Technologies include, Python, Flask, Jinja, Bootstrap
      </p>
      <a href="https://github.com/marshall-buck/warbler" class="icon-link">{% include "../assets/icons/github.svg" %}</a>
    </div>
</div>


  <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
    <div class="col-lg-6 order-lg-2">
      <a href="project-4.html" class="d-inline-block">
        <figure class="img-overlay mb-0">
          <img
            src="assets/img/portfolio-2.jpg"
            alt="Interior Design landing page"
            class="img-thumbnail"
            width="800"
            height="550"
          />
          <div class="img-hover">
            <p class="img-text">View Project</p>
          </div>
        </figure>
      </a>
    </div>
    <div class="col-lg-5 order-lg-1">
      <h2 class="fw-normal">Interior Design</h2>
      <p class="fw-light text-light">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.
      </p>
      <a href="project-4.html" class="link-underline">View project</a>
    </div>
  </div>


  <div class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6">
    <div class="col-lg-6">
      <a href="project-4.html" class="d-inline-block">
        <figure class="img-overlay mb-0">
          <img
            src="assets/img/portfolio-3.jpg"
            alt="Photography landing page"
            class="img-thumbnail"
            width="800"
            height="550"
          />
          <div class="img-hover">
            <p class="img-text">View Project</p>
          </div>
        </figure>
      </a>
    </div>
    <div class="col-lg-5">
      <h2 class="fw-normal">Photography</h2>
      <p class="fw-light text-light">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <a href="project-4.html" class="link-underline">View project</a>
    </div>
  </div>
