{# Warbler #}
<div
  class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6"
>
  <div class="col-lg-6">
    <a href="https://twat-ter.herokuapp.com" class="d-inline-block">
      <figure class="img-overlay mb-0">
        <img
          src="assets/img/warbler.jpg"
          alt="Architecture landing page"
          class="img-thumbnail"
          width="800"
          height="550"
        />
        <div class="img-hover">
          <div class="img-text">Go To Site</div>
        </div>
      </figure>
    </a>
  </div>
  <div class="col-lg-5">
    <h2 class="fw-normal">Warbler</h2>
    <p class="fw-light text-light">
      A Twitter clone. Tech Stack: Python, Flask, Jinja, SQL Alchemy, Postgress,
      Bootstrap
    </p>

    <a
      href="https://github.com/marshall-buck/warbler"
      class="btn btn-sm btn-outline-primary icon-link"
      >{% include "../assets/icons/github.svg" %}
      <span class="ps-1 fw-lighter icon-label-size">Repo</span>
    </a>
  </div>
</div>
{# Share BnB #}
<div
  class="row justify-content-lg-between align-items-center gy-4 pb-5 pb-lg-6"
>
  <div class="col-lg-6 order-lg-2">
    <a href="project-4.html" class="d-inline-block">
      <figure class="img-overlay mb-0">
        <img
          src="assets/img/warbler.jpg"
          alt="Interior Design landing page"
          class="img-thumbnail"
          width="800"
          height="550"
        />
        <div class="img-hover">
          <p class="img-text">View Project</p>
        </div>
      </figure>
    </a>
  </div>
  <div class="col-lg-5 order-lg-1">
    <h2 class="fw-normal">ShareBnB</h2>
    <p class="fw-light text-light">
      An AirBnb clone. Tech Stack: React, Bootstrap, Node, PostgreSQL
    </p>
    <div class="d-flex flex-column">
      <div class="py-2">
        <a
          href="https://github.com/marshall-buck/sharebnb-frontend"
          class="btn btn-sm btn-outline-primary icon-link"
          >{% include "../assets/icons/github.svg" %}
          <span class="ps-1 fw-lighter icon-label-size">Front end repo</span>
        </a>
      </div>
      <div class="py-2">
        <a
          href="https://github.com/marshall-buck/sharebnb-backend"
          class="btn btn-sm btn-outline-primary icon-link"
          >{% include "../assets/icons/github.svg" %}
          <span class="ps-1 fw-lighter icon-label-size">Back end repo</span>
        </a>
      </div>
    </div>
  </div>
</div>

