---
layout: base
title: Home
description: Marshall Buck software engineer.
permalink: /
---

<section class="container pt-4">
  <h1 class="display-4">Full Stack Software Engineer</h1>
  <div class="border border-5 border-light w-15"></div>
</section>

{# TEchnologies #}
<section class="container pt-6">
  <h2 class="fs-3">Technologies</h2>
  <div class="border border-1 border-light w-15 mb-4"></div>
  {% include "icons.njk" %}
</section>

<!-- Bio -->
<section id="bio" class="bg-primary text-dark text-center pt-6">
  <article class="container pb-5">
    <p class="text-dark mb-4">
      As a software engineer with a background in photography, I received a BA
      in Industrial Scientific Photography and morphed into the high-volume
      portrait business.&nbsp Starting as a photographer, I worked my way to a
      trainer and then manager, leading 10-15 teams across multiple geographical
      areas.&nbsp Thanks to that job I’ve traveled to all 48 contiguous
      states.&nbsp Looking for a change, I started to work for a downstream
      petroleum services laboratory, supervising the production of the imaging
      department.&nbsp Unfortunately, the lab went out of business.&nbsp Always
      interested in coding, I decided to make programing a full-time
      career.&nbsp After a year or so of “learn by google,” I wrote my first
      first useful program (as a favor to a former co-worker).&nbsp Seeking more
      knowledge, I joined Rithm School to become a software engineer, further
      enhancing my skills.&nbsp I currently live in Houston, TX (willing to
      relocate), and spend my free time playing bass.&nbsp I've also watched the
      entirety of Doctor Who and Battlestar Galactica more times than I like to
      admit.
    </p>
    <div class="contact">
      <p>Please check out Linkedin or Github</p>
      <a
        href="https://www.linkedin.com/in/marshall-buck-391285142/"
        target="_blank"
        >{% include "../assets/icons/linkedin.svg" %}</a
      >
      <a href="https://github.com/marshall-buck" target="_blank"
        >{% include "../assets/icons/github.svg" %}</a
      >
    </div>
  </article>
</section>

<!-- Projects -->
<section id="projects" class="container pt-6">
  <h2 class="fs-3">Projects</h2>
  <div class="border border-1 border-light w-15 mb-4"></div>
  {% include "projects.njk" %}
</section>
