---
layout: base
title: Home
description: Marshall Buck software engineer.
permalink: /
---

<section class="container pt-4">
<h1 class="display-4">Full Stack Software Engineer</h1>
  <div class="border border-5 border-light w-15"></div>
</section>

  {# TEchnologies #}
<section class="container pt-6">
      <h3 class="fs-4 text-light ">Technologies</h3>
      {% include "icons.njk" %}
</section>



<!-- Projects -->
<section id="projects" class="container pt-6">
     <h3 class="fs-4 text-light">Projects</h3>
  <div class="border border-1 border-light w-15 mb-4"></div>
   {% include "projects.njk" %}
</section>





<!-- Call to action -->
<div id="bio" class="bg-primary text-dark text-center">
  <div class="container py-5 py-md-6">
    <h2>Bio</h2>
    <p class=" mb-4">
        As a software engineer with a background in photography, I received
            a BA in Industrial Scientific Photography and morphed into the
            high-volume portrait business. Starting as a photographer, I worked
            my way to a trainer and then manager, leading 10-15 teams across
            multiple geographical areas. Thanks to that job I’ve traveled to all
            48 contiguous states (plus Alaska). Looking for a change, I started
            to work for a downstream petroleum services laboratory, supervising
            the production of the imaging department. When the pandemic hit the
            lab went out of business. Always interested in coding, I decided to
            make programing a full-time career. After a year or so of “learn by
            google,” I wrote my first first useful program(as a favor to a
            former co-worker). Seeking more knowledge I joined Rithm Bootcamp to
            further enhance my skills. I currently live in Houston, TX (though
            have winter coat, will travel), and spend my free time playing bass.
            I've also watched the entirety of Doctor Who and Battlestar
            Galactica more times than I like to admit.
    </p>
    <a href="contact.html" class="btn btn-outline-dark">Contact</a>
  </div>
</div>
